body {
  background: #111;
  color: #fff;
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#game-container {
 /* Dark base color */
  background-color: #021a0a; 
  
  /* Create vertical and horizontal grid lines using linear gradients */
  background-image: 
    linear-gradient(rgba(0, 255, 180, 0.04) 2px, transparent 5px),
    linear-gradient(90deg, rgba(245, 227, 227, 0.062) 2px, transparent 5px);
  
  /* This controls the size of each grid square (20px by 20px) */
  background-size: 20px 20px; 
  background-position: center;


  
  width:  1080px ;
  height: 720px;
  border: 2px solid #018d14;
 
  position: relative;
  display: flex;
  flex-direction: column;
}

#arena {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.word-tile {
  position: absolute;
  border: 2px solid #00ff6a;
  border-radius: 10px;
  padding: 8px;
  background: rgba(0, 255, 179, 0.185);
  color: #fff;
  white-space: nowrap;
}

#input-bar {
  padding: 10px;
  border-top: 1px solid #00ff40;
}

#type-input {
  width: 100%;
  background: transparent;
  border: none;
  color: #10be4a;
  font-size: 18px;
  font-family: monospace;
  outline: none;
}